<h2 style="color: rgb(68, 68, 68);">Listado de productos</h2>
<a href="http://localhost:8080/api/productos" class="btn text-light bg-dark" style="margin-bottom: 10px;">Agregar productos</a>

{{#if listExist}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"><th>Name</th> <th>Price</th> <th>Thumbnail</th> <th>Id</th></tr>
            {{#each productos}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}</td>
                <td>{{this.id}}</td>
            </tr>
            {{/each}}
        </table>
        
    </div>
{{/if}}{{#else}}
    <h3 class="alert alert-danger">No se encontraron productos :/</h3>
{{/else}}
