
<h1>Ingresar producto</h1>
<br>
<form action="/api/productos/p" method="POST">
    <div class="form-group">
        <label for="name"><b>Name</b></label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input type="number" class="form-control" name="price" id="price">
    </div>
    <div class="form-group">
        <label for="thumbnail"><b>Thumbnail</b></label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail">
    </div>
    <!--<div class="form-group">
        <label for="id"><b>id</b></label>
        <input type="number" class="form-control" name="id" id="id">
    </div>-->
    <div class="btn__container">
        <button type="submit" class="btn btn-success mt-3 mb-5">Agregar</button>
        <a href="http://localhost:8080/api/productos/products" class="btn btn-primary mt-3 mb-5" style="margin-left: 5px;">Listado de productos</a>
    </div>
</form>